.yacht-card {
  display: grid;
  margin-left: 50px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 15px;
  margin-right: 40px;
  padding: 20px;
  justify-content: center;
  align-content: center;
}

.city-card {
  display: grid;
  margin-left: 50px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 15px;
  margin-right: 40px;
  padding: 20px;
  justify-content: center;
  align-content: center;
}
.city-card:hover {
  cursor: pointer;
}

.yacht-card:hover {
  cursor: pointer;
}
.city-container {
  position: relative;
  width: 250px;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
}

.city-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 5px 0; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.tooltip {
  display: inline-block;
  max-width: 250px;
}

.avgRating {
  display: flex;
  justify-content: space-between;
  height: 40px;
  
  align-content: flex-start;
}

.avgRating h3 {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif; 
  font-size: 15px;
}

.avgRating h4 {
  margin-top: 10px;
  font-style: normal;
}

.price_gray {
  color: rgba(0, 0, 0, 0.5);
}

svg {
  width: 16px;
}

.yacht {
  position: relative;
  display: flex;
  height: 30%;
  width: 60%;
  justify-content: center;
  align-content: center;
  transition: transform 0.3s ease;
}

.yacht:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.yacht:hover h3 {
  color: rgb(24, 193, 215);
}

.yacht-img {
  width: 250px;
  height: 150px;
  border-radius: 15px;
}

.yachts-container > h1,
.yachts-container > button {
  margin-left: 40px;
}

.buttons {
  padding-top: 10px;
}

.buttons button {
  margin-right: 10px;
}

.yachtDbuttons {
  background: #f0f0f0;
  box-shadow: 5px 5px 10px #c4c4c4, -5px -5px 10px #ffffff;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.yachtDbuttons:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .yacht-card,
  .city-card {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.buttonAction {
  background-color: red;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
}

.address-price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.see-all-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.see-all-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.see-all-button:hover {
  background-color: #0056b3;
}

.MainScreen{
margin-top: 100vh;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  margin-top: 8px;
}
 .custom-file-upload:hover{
  cursor: pointer;
 }

 .profile-image-container {
  width: 100px;       
  height: 100px;      
  border-radius: 50%; 
  overflow: hidden;  
  display: flex;     
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc; 
}
.review-image-container {
  width: 50px;       
  height: 50px;      
  border-radius: 50%; 
  overflow: hidden;  
  display: flex;     
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc; 
}
 .prof-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 .custom-file-upload:disabled {
  background-color: #cccccc;
  color: #666666;          
  cursor: not-allowed;      
  opacity: 0.6;            
}


#refCode {
  cursor: pointer; 
}
#refCode:hover {
  color: green  ;
}

.user-inf {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px; 
  max-width: 500px; 
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  margin-top: 84px;
}

.user-inf h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.user-inf p {
  color: #333;
  text-align: center;
}

.user-inf form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-inf label {
  font-weight: 600;
  color: #555;
  margin-bottom: 5px;
}

.user-inf input,
.user-inf select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
}

.user-inf input:focus,
.user-inf select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.custom-file-upload {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.prof-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

#refCode {
  color: #007bff;
  cursor: pointer;
}

#refCode:hover {
  text-decoration: underline;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

#h1-rev {
  margin-top: 84px;
}

.yachts-container {
  margin-top: 84px;
}
#h1-bok {
  margin-top: 84px;
}

.yacht-list{
  margin-top: 80px;
}


#p2p {
  margin-left: 20px;
}

.rank {
  font-weight: bold;
  
}

h1 {
  font-family: 'Poppins', sans-serif; 
  font-size: 2.7rem; 
  font-weight: 700; 
  color: #333; 
  text-align: center;
  margin: 20px 0;
  letter-spacing: 1.5px;
  text-transform: uppercase; 
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}
div {
  font-family: 'Poppins', sans-serif; 
  font-size: medium;
}


h2 {
  font-family: 'Poppins', sans-serif; 
  font-size: 2.3rem; 
  font-weight: 700; 
  color: #333; 
  text-align: center;
  margin: 20px 0;
  letter-spacing: 1.5px;
  text-transform: uppercase; 
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

#feat-citi{
padding-top: 30px;
}
.yacht-name-booking{
  position: absolute;
  margin-left: 10px;
  color: rgb(243, 189, 88);
  background-color: rgba(47, 57, 58, 0.618);
  font-size: larger;
}
