.yacht-card {
  display: grid;
  margin-left: 50px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 15px;
  margin-right: 40px;
  padding: 20px;
  justify-content: center;
  align-content: center;
}

.city-card {
  display: grid;
  margin-left: 50px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 15px;
  margin-right: 40px;
  padding: 20px;
  justify-content: center;
  align-content: center;
}

.city-container {
  position: relative;
  width: 250px;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
}

.city-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 5px 0; /* Adjust padding to ensure text is centered */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.tooltip {
  display: inline-block;
}

.avgRating {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-content: flex-start;
}

.avgRating h3 {
  margin-top: 10px;
}

.avgRating h4 {
  margin-top: 10px;
  font-style: normal;
}

.price_gray {
  color: rgba(0, 0, 0, 0.5);
}

svg {
  width: 16px;
}

.yacht {
  position: relative;
  display: flex;
  height: 30%;
  width: 60%;
  justify-content: center;
  align-content: center;
  transition: transform 0.3s ease;
}

.yacht:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.yacht:hover h3 {
  color: rgb(24, 193, 215);
}

.yacht-img {
  width: 250px;
  height: 150px;
  border-radius: 15px;
}

.yachts-container > h1,
.yachts-container > button {
  margin-left: 40px;
}

.buttons {
  padding-top: 10px;
}

.buttons button {
  margin-right: 10px;
}

.yachtDbuttons {
  background: #f0f0f0;
  box-shadow: 5px 5px 10px #c4c4c4, -5px -5px 10px #ffffff;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.yachtDbuttons:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .yacht-card,
  .city-card {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.buttonAction {
  background-color: red;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
}

.address-price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.see-all-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.see-all-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.see-all-button:hover {
  background-color: #0056b3;
}

.MainScreen{
margin-top: 100vh;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  margin-top: 8px;
}
 .custom-file-upload:hover{
  cursor: pointer;
 }

 .profile-image-container {
  width: 100px;       
  height: 100px;      
  border-radius: 50%; 
  overflow: hidden;  
  display: flex;     
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc; 
}
.review-image-container {
  width: 50px;       
  height: 50px;      
  border-radius: 50%; 
  overflow: hidden;  
  display: flex;     
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc; 
}
 .prof-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 .custom-file-upload:disabled {
  background-color: #cccccc; /* Gray background for disabled state */
  color: #666666;           /* Dimmed text color */
  cursor: not-allowed;      /* Not-allowed cursor to indicate non-clickable */
  opacity: 0.6;             /* Reduced opacity for visual feedback */
}


#refCode {
  cursor: pointer; 
}
#refCode:hover {
  color: green  ;
}
