.create-yacht-form {
    max-width: 600px;
    margin: 10px 100px 15px 100px ;
    padding: 20px 40px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .create-yacht-form input {
    margin-right: 10px;
    max-width: 400px;
    margin-top: 10px;
  }
  .createyacht-container {
    margin-top: 88px;
  }
  .create-spot-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .create-spot-form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .create-spot-form input[type="text"],
  .create-spot-form input[type="number"],
  .create-spot-form textarea {
    width: 100%;
    padding: 8px;
    
    overflow-x:scroll;
    font-size: large;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .create-spot-form button[type="submit"] {
  margin-left: 33%;
  margin-right: 20%;
  padding-left:10%;
  padding-right:10%;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #d41f40;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  }
  .city-state {
    margin-top: 5px;
    display: flex;
  
  }
  #lat-con {
    /* padding-left: 40px; */
    margin-left: 40px;
    width: 40%;
  }
  #lon-con{
    width: 80%;
  }

  .city-state #state2{
    margin-left: 30px;
  }
  
 
 

  .error {
    color: red;
    font-size: smaller;
 
  }
.sub-images {
  margin-top: 15px;
}
#description {
  min-width: 150px;
  max-width: 600px;
  min-height: 50px;
  max-height: 200px;
}
.createspot-container {
  display: flex;
  justify-content: center;
  
}

.additional-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
  /* gap: 10px;  */
  padding: 0px;
}
