/* .profile-dropdown {
    position: absolute;
   
} */

.hidden {
  display: none;
}

.logo {
  width: 80px;

  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 3em;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;

  padding-bottom: 13px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header.transparent {
  z-index: 1000;
  background-color: transparent;
}

header.scrolled {
  background-color: white;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.profile {
  cursor: pointer;
  grid-column: 3;
  display: grid;
  margin-top: 10px;
  grid-template-columns: 5fr 2fr;
}

.newYacht {
  margin-left: 50px;
  margin-top: 5px;
}
.profilebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  grid-column: 2;
  width: 80px;
  height: 30px;
  padding: 0;
  border-radius: 15px;
  background-color: #f0f0f0;
  border: none;
  gap: 10px;
}
.profile-dropdown button {
  cursor: pointer;
}
.profile-dropdown {
  position: absolute;
  z-index: 1;
  margin-left: 145px;
  margin-top: 40px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  height: auto;
}
.profile-dropdown li {
  list-style-type: none;
  text-align: start;
  margin-bottom: 10px;
  border-bottom: 1px black;
  font-size: large;
  padding: 0;
}
.linkManageYacht {
  text-decoration: none;
  color: black;
}

#logoutButton {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #d41f40;
  color: white;
  border: medium;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 28px;
}
#logoutButton:hover {
  background-color: #ba406d;
  cursor: pointer;
}

.newYachtLink {
  border: none;
  color: rgb(60, 85, 168);
  font-size: larger;
  margin-right: 15px;
  border-radius: 5px;
  text-decoration: none;

  transition: background-color 0.3s ease;
}
